@import "zeroing";

body {
	font-size: 20px;
	a {
		text-decoration: none;
		color: black;
	}
	li {
		list-style: none;
	}
}
header {
	display: flex;
	.authorization {
		padding: 5px 30px;
		background-color: aqua;
		border: 2px solid black;
		border-radius: 5px;
	}
	.exit{
		margin: 3px 0 0 10px;
		padding: 5px;
		font-size: 1em;
		border: 1px solid black;
	}
}
main {
	margin-top: 20px;
	.table-question {
		display: grid;
		grid-template: repeat(4, min-content) / 10% 1fr 10%;
		grid-template-areas:
			". h ."
			". b ."
			". p ."
			". f .";
		grid-row-gap: 20px;
		&__sort {
			grid-area: h;
		}

		&__list {
			grid-area: b;
			display: grid;
			grid-template: repeat(3, 200px) / 1fr;
			grid-row-gap: 10px;
		}

		&__question {
			margin: 0 10px;
			textarea {
				resize: none;
				width: calc(100% - 30px);
				height: 100%;
				margin: 0 15px;
			}
		}

		&__pagination {
			grid-area: p;
			justify-self: center;
		}

		&__add-question {
			grid-area: f;
		}
	}
	.sort {
		&__list {
			display: flex;
			width: 100%;
		}

		&__element {
			width: min-content;
			margin-right: 10px;
		}
		
		&__link_active {
			color: red;
		}
	}
	.question {
		border: 1px solid black;
		border-radius: 5px;
		&__wrapper {
			margin: 7px 0;
			display: grid;
			grid-template: 40px 120px 1fr / 1fr 1fr;
			grid-template-areas:
				"qh qh"
				"qb qb"
				"qe qs";
		}

		&__head {
			grid-area: qh;
			display: grid;
			grid-template: repeat(2, min-content) 1fr;
			grid-template-areas: "qn qm .";
		}

		&__name {
			grid-area: qn;
			margin-left: 15px;
			width: 200px;
			height: min-content;
			border-bottom: 1px dashed #000;
		}

		&__mail {
			grid-area: qm;
			width: 300px;
			height: min-content;
			border-bottom: 1px dashed #000;
		}

		&__text-box {
			grid-area: qb;
			resize: none;
			margin: 0 15px;
			border: 1px solid black;
		}

		&__edit {
			justify-self: center;
			grid-area: qe;
		}

		&__text {
			height: 100%;
			overflow: auto;
		}
		&__send-but {
			grid-area: qs;
			justify-self: end;
			margin-top: 5px;
			margin-right: 10px;
			width: 120px;
			font-size: 1em;
			border: 1px solid black;
		}
	}
	.pagination {

		&__element {
			display: inline-block;
		}
	}
	.send-but {
		margin-left: 5px;
		margin-bottom: 7px;
	}
	.login {
		&__inp {
			border: 1px solid black;
			border-radius: 3px;
			margin-left: 10px;
		}
		&__wrapper {
			display: flex;
		}
	}
	.password {
		margin-top: 10px;
		&__inp {
			border: 1px solid black;
			border-radius: 3px;
			margin-left: 10px;
		}
		&__wrapper {
			display: flex;
		}
	}
	.send-but {
		width: 100px;
		height: 25px;
		margin-top: 10px;
		font-size: 18px;
		border: 1px solid black;
		border-radius: 3px;
	}
	.sort {

		&__header {
			width: 400px;
			border-bottom: 1px solid black;
		}
}

}
